apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: maia
  namespace: maia
  labels:
    app.kubernetes.io/name: maia
    app.kubernetes.io/component: monitoring
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: maia
      app.kubernetes.io/component: server
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s
